@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
pre,
button,
li {
  letter-spacing: -0.4px;
  line-height: 120%;
}

@layer utilities {
  a,
  button {
    @apply cursor-pointer;
  }

  input[type="file"] {
    @apply text-gray-2;
  }

  .btn-fixed-right {
    @apply fixed bottom-8 z-50 p-[17px] border-2 border-[#899490] rounded-full bg-white;
    right: calc(50% - 512px);
  }
}
