@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Pretendard Variable";
  src: url("../fonts/PretendardVariable.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("../fonts/PretendardVariable.woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("../fonts/PretendardVariable.woff2");
  font-weight: 700;
  font-style: bold;
}

*,
body,
pre,
button {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
} */

@layer utilities {
  .btn-fixed-right {
    @apply fixed bottom-8 z-50 p-[17px] border-2 border-[#899490] rounded-full;
    right: calc(50% - 512px);
  }
}
